button{ 
   transition:300ms;
}


button:hover{
   background-color: aqua;
   transition:300ms;
   opacity:10%
  
}


p{
   animation: pointdown 1000ms infinite alternate-reverse;
}

@keyframes pointdown{
   0%{
      transform: translateY(0);
   }
   100%{
      transform: translateY(16px);
   }
}